{% extends 'base.html' %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'expenses' %}">Expenses</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Add Expenses
            </li>
        </ol>
    </nav>
    <form action="{% url 'expenses' %}" method="post">
        
    </form>
</div>
{% block content %}
<h2>Add Expense</h2>
{% endblock %}
