{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 vh-100">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'expenses' %}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Summary
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-bg-primary m-2 rounded-1 placeholder placeholder-wave w-100" style="min-width: 12rem; min-height: 7.5rem;">
                <div class="card-header">
                    TODAY
                    <span class="bage bg-secondary float-end px-2 rounded-1 text-black">
                        <span id="todayExpenseCount">0</span>
                    </span>
                </div>
                <div class="card-body my-2">
                    <h5 class="card-title m-0 text-center">
                        <span id="todayExpenseAmount">0</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-primary m-2 rounded-1 placeholder placeholder-wave w-100" style="min-width: 12rem; min-height: 7.5rem;">
                <div class="card-header">
                    THIS WEEK
                    <span class="bage bg-secondary float-end px-2 rounded-1 text-black">
                        <span id="weekExpenseCount">0</span>
                    </span>
                </div>
                <div class="card-body my-2">
                    <h5 class="card-title m-0 text-center">
                        <span id="weekExpenseAmount">0</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-primary m-2 rounded-1 placeholder placeholder-wave w-100" style="min-width: 12rem; min-height: 7.5rem;">
                <div class="card-header">
                    THIS MONTH
                    <span class="bage bg-secondary float-end px-2 rounded-1 text-black">
                        <span id="monthExpenseCount">0</span>
                    </span>
                </div>
                <div class="card-body my-2">
                    <h5 class="card-title m-0 text-center">
                        <span id="monthExpenseAmount">0</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card text-bg-primary m-2 rounded-1 placeholder placeholder-wave w-100" style="min-width: 12rem; min-height: 7.5rem;">
                <div class="card-header">
                    THIS YEAR
                    <span class="bage bg-secondary float-end px-2 rounded-1 text-black">
                        <span id="yearExpenseCount">0</span>
                    </span>
                </div>
                <div class="card-body my-2">
                    <h5 class="card-title m-0 text-center">
                        <span id="yearExpenseAmount">0</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="expenseStatsCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <a type="button" data-bs-target="#expenseStatsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
                <a type="button" data-bs-target="#expenseStatsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></a>
                <a type="button" data-bs-target="#expenseStatsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></a>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item item-1 active">
                    <canvas id="expenseThisWeekChart" class="d-block w-100 mb-5"></canvas>
                </div>
                <div class="carousel-item item-2">
                    <canvas id="expenseThisMonthChart" class="d-block w-100 mb-5"></canvas>
                </div>
                <div class="carousel-item item-3">
                    <canvas id="expenseThisYearChart" class="d-block w-100 mb-5"></canvas>
                </div>
            </div>
            <a class="carousel-control-prev" href="#expenseStatsCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#expenseStatsCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>
<script src="{% static 'js/expense_long_term_stat.js' %}"></script>
<script src="{% static 'js/expense_card_stat.js' %}"></script>
{% endblock %}
