{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'partials/_messages.html' %}
    <h2>Expenses List</h2>
    <ul class="list-group">
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
        <li class="list-group-item">Bought beer</li>
    </ul>
</div>
{% endblock %}
