{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        My Expenses
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-expense' %} " class="btn btn-sm btn-success">Add Expense</a>
        </div>
    </div>
    <div class="container">
        <div class="container mt-3">
            {% include 'partials/_messages.html' %}
        </div>
        {% if expenses.count %}
        <table class="table table-sm table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount (CURRENCY)</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for expense in page_obj %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.date}}</td>
                    <td>
                        <a href="{% url 'edit-expense' expense.id %}" class="btn btn-sm btn-info">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center" style="font-size: 24px;">There is no expenses</p>
        {% endif %}
        <div class="container">
            <a>Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
            <ul class="pagination pagination-sm align-right float-end mr-auto">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
                    <a class="page-link" href="?page=1">&laquo; 1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
