{% extends 'base-auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3 text-center">
                    <h3>Log in to your account</h3>
                </div>
                <form action="{% url 'login' %}" method="post" class="d-grid gap-3">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" id="usernameField" class="form-control form-control-sn" value="{{fieldValues.username}}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" id="passwordField" class="form-control form-control-sn">
                    </div>
                    <input type="submit" value="Log in" class="btn btn-outline-primary submit-btn">
                </form>
                <div class="container text-center mb-2">
                    <span class="lead fs-5">Don't have an account? </span>
                    <a class="lead fs-5" href="{% url 'register' %}">Register</a>
                </div>
                <div class="container text-center">
                    <span class="lead fs-5">Forgot your password? </span>
                    <a class="lead fs-5" href="{% url 'reset-password' %}">Reset</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
