{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3 text-center">
                    <h4>Create new account</h4>
                </div>
                <form action="" method="post" class="d-grid gap-3">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" id="usernameField" class="form-control form-control-sn">
                    </div>
                    <div class="invalid_feedback invalid-feedback" style="display: none"></div>
                    <p class="text-sm text-success usernameSuccessOutput"></p>
                    <div class="form-group">
                        <input type="email" name="e-mail" placeholder="E-Mail" id="emailField" class="form-control form-control-sn">
                    </div>
                    <div class="emailFeedbackArea invalid-feedback" style="display: none"></div>
                    <p class="text-sm text-success emailSuccessOutput"></p>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" id="passwordField" class="form-control form-control-sn">
                        <small class="float-end pt-3">SHOW</small>
                    </div>
                    <input type="submit" value="Register" class="btn btn-outline-primary">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}