{% extends 'base-auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3 text-center">
                    <h3>Reset your password</h3>
                </div>
                <form action="{% url 'reset-password' %}" method="post" class="d-grid gap-3">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    <div class="form-group">
                        <input type="email" name="email" placeholder="E-Mail" id="emailField" class="form-control form-control-sn" value="{{values.email}}">
                    </div>
                    <div class="emailFeedbackArea invalid-feedback" style="display: none"></div>
                    <p class="text-sm text-success emailSuccessOutput" style="display: none"></p>
                    <input type="submit" value="Reset" class="btn btn-outline-primary submit-btn">
                </form>
                <div class="container text-center mb-2">
                    <span class="lead fs-5">Don't have an account? </span>
                    <a class="lead fs-5" href="{% url 'register' %}">Register</a>
                </div>
                <div class="container text-center">
                    <span class="lead fs-5">Back to </span>
                    <a class="lead fs-5" href="{% url 'login' %}">Log In page</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
