{% extends 'base-auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5 rounded">
            <div class="card-body">
                <div class="card-title py-3 text-center">
                    <h3>Reset your password</h3>
                </div>
                <form action="{% url 'reset-password' %}" method="post" class="d-grid gap-3">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    <div class="form-group">
                        <input type="email" name="email" placeholder="E-Mail" id="emailField" class="form-control form-control-sn border-1 rounded" value="{{values.email}}">
                    </div>
                    <div class="emailFeedbackArea invalid-feedback" style="display: none"></div>
                    <p class="text-sm text-success emailSuccessOutput" style="display: none"></p>
                    <input type="submit" value="Reset" class="btn btn-outline-primary submit-btn rounded">
                </form>
                <div class="row px-5">
                    <div class="col-md-5 p-0">
                        <hr>
                    </div>
                    <div class="col-md-2 text-center m-auto p-0">
                        OR
                    </div>
                    <div class="col-md-5 p-0">
                        <hr>
                    </div>
                </div>
                <div class="container text-center my-2">
                    <a class="lead fs-5 link-opacity-50-hover text-decoration-none" href="{% url 'register' %}">Create an account</a>
                </div>
                <div class="container text-center">
                    <a class="lead fs-5 link-opacity-50-hover text-decoration-none" href="{% url 'login' %}">Back to Log in page</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
