{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 vh-100">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'income' %}">Income</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Export
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <p class="lead">Please select your preferred income data export format:</p>
    <div class="row mb-3">
        <div class="col-md-2">
            <a class="btn btn-outline-primary w-75 rounded-1 p-0" href="#">PDF</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <a class="btn btn-outline-primary w-75 rounded-1 p-0" href="#">Excel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-outline-primary w-75 rounded-1 p-0" href="#">CSV</a>
        </div>
    </div>
</div>
{% endblock %}